#appbar{
    font-size: large;
    font-weight: bolder;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    
}
.containermodal{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.buttonadd{
    background-color: black;
}